<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46223039709-lu9f5nrmfai3fcj61gqs7cqg1j109kuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46223039709-lu9f5nrmfai3fcj61gqs7cqg1j109kuh</string>
	<key>API_KEY</key>
	<string>AIzaSyDhVruJCdHkC8QTqfKWtIEvo4PN5Zp-HdM</string>
	<key>GCM_SENDER_ID</key>
	<string>46223039709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jenny.iOS-Midterm</string>
	<key>PROJECT_ID</key>
	<string>publisher-a5941</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-a5941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46223039709:ios:b8531042f78c45eb4d0f34</string>
</dict>
</plist>